$body-font-family: Nunito;
$body-font-weight: 400;
$body-font-size: 2.2rem;
$body-font-size-lg: 2rem;
$body-font-size-md: 1.8rem;
$body-font-size-sm: 1.6rem;
$title-font-family: Vollkorn;
$title-font-weight: 700;
$title-font-size: 3.6rem;
$title-font-size-lg: 3.2rem;
$title-font-size-md: 2.7rem;
$title-font-size-sm: 2.3rem;
