:root {
  --app-background-color: white;
  --title-color: #3c3a3a;
  --content-color: #2f3030;
}

[theme="dark"] {
  --app-background-color: #091a28;
  --title-color: white;
  --content-color: cyan;
}
